@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Cute+Font&family=Inconsolata:wght@200..900&family=Lalezar&family=Noto+Sans+Arabic:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'negarBold';
    src: url('../font/Negaar\ Bold.ttf') format('TrueType');
}
@font-face {
    font-family: 'negar';
    src: url('../font/Negaar\ Regular.ttf') format('TrueType');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fffec6;
}

.date{
    all: unset;
    margin: 15px;
    padding: 10px;
    font-size: 35px;
    border-radius: 10px;
    background-color: #4faff0;
    font-family: "Afacad Flux", sans-serif;
}

button{
    all: unset;
    padding: 10px 20px;
    background-color: #add495;
    font-size: 30px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    font-family: 'Afacad Flux';
}

button:focus{
    box-shadow: inset rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
p{
    display: none;
    margin: 40px;
    padding: 20px 25px;
    border-radius: 20px;
    font-size: 25px;
    font-family: 'negar';
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.reset{
    all: unset;
    display: none;
    padding: 10px 20px;
    font-size: 25px;
    border-radius: 10px;
    background-color: #B39CC7;
    font-family: "Afacad Flux", sans-serif;
    cursor: pointer;
}